{% extends 'front.html.twig' %}

{% block title %} Matchs {% endblock %}

{% block body %}
    <div class="section subbanner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="caption">Matchs</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="page-title">
                        <h2 class="lead">Billet</h2>
                        <div class="border-style"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">

                <div class="row">
                    {% for match in matchs %}
                        <div class="container-match-billet col-sm-12 col-md-4">
                            <div class="match">
                                <div class="match-header">
                                    <div class="match-date">
                                        {{ match[0].date | date }}
                                    </div>
                                </div>
                                <div class="match-content">
                                    <div class="column">
                                        <div class="team team--home">
                                            <div class="team-logo">
                                                <img src="{{ asset('/images/')~match[0].equipe1.logo }}"/>
                                            </div>
                                            <h2 class="team-name">{{ match[0].equipe1.nomeq }}</h2>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="match-details">
                                            {% if(match[1]>= match[0].nbSpectateur) %}
                                                Billet non disponible
                                            {% endif %}
                                            <a class="match-bet-place
                                            {% if(match[1]>= match[0].nbSpectateur) %}
                                                disabled
                                            {% endif %}

"
                                               href="{{ path('app_billet_front_reservation', {'id': match[0].id}) }}"
                                            >
                                                obtenir un billet
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="team team--away">
                                            <div class="team-logo">
                                                <img src="{{ asset('/images/')~match[0].equipe2.logo }}"/>
                                            </div>
                                            <h2 class="team-name">{{ match[0].equipe2.nomeq }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-sm-12 col-md-12" style="display: flex; justify-content: center;">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
