{% extends 'front.html.twig' %}
{% block body %}
    <br><br><br><br><br><br><br><br>
<a href="{{ path('cart')}}">Cart</a>
<table class="table">
    <th>ID</th>
    <th>Nom</th>
    <th>Prix</th>
    <th></th>
    {%  for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.nom }}</td>
            <td>{{ product.prix }}</td>
            <td><a href="{{ path('cart_add',{'id':product.id})}}">addToCart</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
